@media screen and (min-width: 768px) {
    
body, html {
  height: 100%;

  background-image: url("../images/BG.jpg");
  height: 100vh;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
}

@media screen and (max-width: 767px) {
    
body, html {
  height: 100vh;

  background-image: url("../images/BGaaa.jpg");
  height: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
}


